<a href="https://colab.research.google.com/github/hackveda-canada/Data-Science-Essentials/blob/master/Data_Science_Essentials_Day_11%2612_N_grams.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**N-GRAMS**
----------------


an n-gram is continous sequence of n items from a given sample of text or speech.

We will be using nltk Python library, and collections library to use Counter function

In [1]:
# Concepts of N-grams in Text Analytics
from nltk.util import ngrams
from collections import Counter

text = "Welcome to Machine Learning"

import nltk
nltk.download("punkt")
from nltk import word_tokenize

def get_ngrams(text, n):
  tokens = word_tokenize(text)
  print(tokens)
  n_grams = ngrams(tokens, n)
  return [" ".join(gram) for gram in n_grams]
  
 
  
  
print("Unigram (n=1)",get_ngrams(text, 1))
print("Bigram (n=2)",get_ngrams(text, 2))
print("Trigram (n=3)",get_ngrams(text, 3))
print("Quadgram (n=4)",get_ngrams(text, 4))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
['Welcome', 'to', 'Machine', 'Learning']
Unigram (n=1) ['Welcome', 'to', 'Machine', 'Learning']
['Welcome', 'to', 'Machine', 'Learning']
Bigram (n=2) ['Welcome to', 'to Machine', 'Machine Learning']
['Welcome', 'to', 'Machine', 'Learning']
Trigram (n=3) ['Welcome to Machine', 'to Machine Learning']
['Welcome', 'to', 'Machine', 'Learning']
Quadgram (n=4) ['Welcome to Machine Learning']

Extract n-grams from text and create a table repersenting n-grams and its frequency

In [2]:
text = "Statistics skills, and programming skills are equally important for analytics. Statistics skills, and domain knowledge are important for analytics"

# Remove noise = punctuation marks (string.punctuation)

import string

# Define a function remove the punctuation
def remove_punctuation(text):
  tokens = word_tokenize(text)
  nf_text = [token for token in tokens if token.lower() not in string.punctuation]
  return " ".join(nf_text)


print(remove_punctuation(text))

text = remove_punctuation(text)

Statistics skills and programming skills are equally important for analytics Statistics skills and domain knowledge are important for analytics

**Extract n-grams**

In [3]:
result = get_ngrams(text, 2)
print(result)

['Statistics', 'skills', 'and', 'programming', 'skills', 'are', 'equally', 'important', 'for', 'analytics', 'Statistics', 'skills', 'and', 'domain', 'knowledge', 'are', 'important', 'for', 'analytics']
['Statistics skills', 'skills and', 'and programming', 'programming skills', 'skills are', 'are equally', 'equally important', 'important for', 'for analytics', 'analytics Statistics', 'Statistics skills', 'skills and', 'and domain', 'domain knowledge', 'knowledge are', 'are important', 'important for', 'for analytics']

In [4]:
# Count the frequency of n-grams
request_count = Counter(result)
request_count

Counter({'Statistics skills': 2,
         'analytics Statistics': 1,
         'and domain': 1,
         'and programming': 1,
         'are equally': 1,
         'are important': 1,
         'domain knowledge': 1,
         'equally important': 1,
         'for analytics': 2,
         'important for': 2,
         'knowledge are': 1,
         'programming skills': 1,
         'skills and': 2,
         'skills are': 1})

Convert result dictionary into 2-D Dataframe

In [5]:
import pandas as pd
df = pd.DataFrame.from_dict(request_count, orient="index")
df

                      0
Statistics skills     2
skills and            2
and programming       1
programming skills    1
skills are            1
are equally           1
equally important     1
important for         2
for analytics         2
analytics Statistics  1
and domain            1
domain knowledge      1
knowledge are         1
are important         1

**Rename DataFrame column name**

In [6]:
# from dataframe, we will use rename function to rename column names
df.rename(columns={'index':'N-grams', 0:'Frequency'})

                      Frequency
Statistics skills             2
skills and                    2
and programming               1
programming skills            1
skills are                    1
are equally                   1
equally important             1
important for                 2
for analytics                 2
analytics Statistics          1
and domain                    1
domain knowledge              1
knowledge are                 1
are important                 1

In [9]:
import os

!mkdir demo
!wget "http://www.hackveda.in/text1.txt"
!wget "http://www.hackveda.in/text2.txt"
!wget "http://www.hackveda.in/text3.txt"

!mv text1.txt text2.txt text3.txt demo/
!cd demo/
!ls demo/

for f in os.listdir("demo"):
  print(f)

--2019-02-27 12:45:07--  http://www.hackveda.in/text1.txt
Resolving www.hackveda.in (www.hackveda.in)... 192.185.129.82
Connecting to www.hackveda.in (www.hackveda.in)|192.185.129.82|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 142 [text/plain]
Saving to: ‘text1.txt’

text1.txt           100%[===================>]     142  --.-KB/s    in 0s

2019-02-27 12:45:07 (17.3 MB/s) - ‘text1.txt’ saved [142/142]

--2019-02-27 12:45:07--  http://www.hackveda.in/text2.txt
Resolving www.hackveda.in (www.hackveda.in)... 192.185.129.82
Connecting to www.hackveda.in (www.hackveda.in)|192.185.129.82|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 150 [text/plain]
Saving to: ‘text2.txt’

text2.txt           100%[===================>]     150  --.-KB/s    in 0s

2019-02-27 12:45:07 (24.4 MB/s) - ‘text2.txt’ saved [150/150]

--2019-02-27 12:45:08--  http://www.hackveda.in/text3.txt
Resolving www.hackveda.in (www.hackveda.in)... 192.185.129.82
Connecting to www.hackveda.in (www.hackveda.in)|192.185.129.82|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 110 [text/plain]
Saving to: ‘text3.txt’

text3.txt           100%[===================>]     110  --.-KB/s    in 0s

2019-02-27 12:45:08 (16.8 MB/s) - ‘text3.txt’ saved [110/110]

text1.txt  text2.txt  text3.txt
text1.txt
text3.txt
text2.txt

**Bag of Words**
-----------------------------

Bag of Words =  Counting the occurance of words in a document

No importance of grammer and order of words


**Term Document Matrix**
---------------------------------

In [10]:
#Term Document Matrix

import pandas as pd
#sklearn libraries feature extraction is used to extract text tokens
from sklearn.feature_extraction.text import CountVectorizer


# Function to create a dictionary with key as file, and values as names
def CorpusFromDir(dir_path):
  result = dict(docs = [open(os.path.join(dir_path, f)).read() for f in 
  os.listdir(dir_path)], ColNames = map(lambda x: x, os.listdir(dir_path)))
  return result


docs = CorpusFromDir("demo")
docs

{'ColNames': <map at 0x7f84951a20b8>,
 'docs': ['\ufeffThe air strike on terror camps in Pakistan is a positive for the markets as it illustrates a "decisiveness" in foreign policy and increases',
  '\ufeffThe U.S. military said on Monday that a recent air strike in central Somalia killed 35 al Shabaab fighters.',
  '\ufeffAfter India carried out pre-dawn "non-military, pre-emptive air strikes" across the Line of Control on Tuesday to target the biggest camp of terror']}

In [11]:
# CountVectorizer = Convert a collection of text documents to a matrix of token counts
#CountVectorizer()

vectorizer = CountVectorizer()
doc_vec = vectorizer.fit_transform(docs.get('docs'))
doc_vec

<3x50 sparse matrix of type '<class 'numpy.int64'>'
	with 60 stored elements in Compressed Sparse Row format>

In [12]:
# Create a DataFrame
df = pd.DataFrame(doc_vec.toarray().transpose(), index=vectorizer.get_feature_names())
df

# Display the file names
df.columns = docs.get('ColNames')
df

              text1.txt  text3.txt  text2.txt
35                    0          1          0
across                0          0          1
after                 0          0          1
air                   1          1          1
al                    0          1          0
and                   1          0          0
as                    1          0          0
biggest               0          0          1
camp                  0          0          1
camps                 1          0          0
carried               0          0          1
central               0          1          0
control               0          0          1
dawn                  0          0          1
decisiveness          1          0          0
emptive               0          0          1
fighters              0          1          0
for                   1          0          0
foreign               1          0          0
illustrates           1          0          0
in                    2          1          0
increases             1          0          0
india                 0          0          1
is                    1          0          0
it                    1          0          0
killed                0          1          0
line                  0          0          1
markets               1          0          0
military              0          1          1
monday                0          1          0
non                   0          0          1
of                    0          0          2
on                    1          1          1
out                   0          0          1
pakistan              1          0          0
policy                1          0          0
positive              1          0          0
pre                   0          0          2
recent                0          1          0
said                  0          1          0
shabaab               0          1          0
somalia               0          1          0
strike                1          1          0
strikes               0          0          1
target                0          0          1
terror                1          0          1
that                  0          1          0
the                   2          1          2
to                    0          0          1
tuesday               0          0          1