<a href="https://colab.research.google.com/github/hackveda-canada/Data-Science-Essentials/blob/master/Data_Science_Essentials_Day_11%2C_12%2C_%26_13_N_grams%2C_Bag_of_Words%2C_Term_Document_Matrix%2C_%26_TF_IDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Day 11**
----------------

#**N-GRAMS**
----------------


an n-gram is continous sequence of n items from a given sample of text or speech.

We will be using nltk Python library, and collections library to use Counter function

In [1]:
# Concepts of N-grams in Text Analytics
from nltk.util import ngrams
from collections import Counter

text = "Welcome to Machine Learning"

import nltk
nltk.download("punkt")
from nltk import word_tokenize

def get_ngrams(text, n):
  tokens = word_tokenize(text)
  print(tokens)
  n_grams = ngrams(tokens, n)
  return [" ".join(gram) for gram in n_grams]
  
 
  
  
print("Unigram (n=1)",get_ngrams(text, 1))
print("Bigram (n=2)",get_ngrams(text, 2))
print("Trigram (n=3)",get_ngrams(text, 3))
print("Quadgram (n=4)",get_ngrams(text, 4))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
['Welcome', 'to', 'Machine', 'Learning']
Unigram (n=1) ['Welcome', 'to', 'Machine', 'Learning']
['Welcome', 'to', 'Machine', 'Learning']
Bigram (n=2) ['Welcome to', 'to Machine', 'Machine Learning']
['Welcome', 'to', 'Machine', 'Learning']
Trigram (n=3) ['Welcome to Machine', 'to Machine Learning']
['Welcome', 'to', 'Machine', 'Learning']
Quadgram (n=4) ['Welcome to Machine Learning']

Extract n-grams from text and create a table repersenting n-grams and its frequency

In [2]:
text = "Statistics skills, and programming skills are equally important for analytics. Statistics skills, and domain knowledge are important for analytics"

# Remove noise = punctuation marks (string.punctuation)

import string

# Define a function remove the punctuation
def remove_punctuation(text):
  tokens = word_tokenize(text)
  nf_text = [token for token in tokens if token.lower() not in string.punctuation]
  return " ".join(nf_text)


print(remove_punctuation(text))

text = remove_punctuation(text)

Statistics skills and programming skills are equally important for analytics Statistics skills and domain knowledge are important for analytics

**Extract n-grams**

In [3]:
result = get_ngrams(text, 2)
print(result)

['Statistics', 'skills', 'and', 'programming', 'skills', 'are', 'equally', 'important', 'for', 'analytics', 'Statistics', 'skills', 'and', 'domain', 'knowledge', 'are', 'important', 'for', 'analytics']
['Statistics skills', 'skills and', 'and programming', 'programming skills', 'skills are', 'are equally', 'equally important', 'important for', 'for analytics', 'analytics Statistics', 'Statistics skills', 'skills and', 'and domain', 'domain knowledge', 'knowledge are', 'are important', 'important for', 'for analytics']

In [4]:
# Count the frequency of n-grams
request_count = Counter(result)
request_count

Counter({'Statistics skills': 2,
         'analytics Statistics': 1,
         'and domain': 1,
         'and programming': 1,
         'are equally': 1,
         'are important': 1,
         'domain knowledge': 1,
         'equally important': 1,
         'for analytics': 2,
         'important for': 2,
         'knowledge are': 1,
         'programming skills': 1,
         'skills and': 2,
         'skills are': 1})

Convert result dictionary into 2-D Dataframe

In [5]:
import pandas as pd
df = pd.DataFrame.from_dict(request_count, orient="index")
df

                      0
Statistics skills     2
skills and            2
and programming       1
programming skills    1
skills are            1
are equally           1
equally important     1
important for         2
for analytics         2
analytics Statistics  1
and domain            1
domain knowledge      1
knowledge are         1
are important         1

**Rename DataFrame column name**

In [6]:
# from dataframe, we will use rename function to rename column names
df.rename(columns={'index':'N-grams', 0:'Frequency'})

                      Frequency
Statistics skills             2
skills and                    2
and programming               1
programming skills            1
skills are                    1
are equally                   1
equally important             1
important for                 2
for analytics                 2
analytics Statistics          1
and domain                    1
domain knowledge              1
knowledge are                 1
are important                 1

In [9]:
import os

!mkdir demo
!wget "http://www.hackveda.in/text1.txt"
!wget "http://www.hackveda.in/text2.txt"
!wget "http://www.hackveda.in/text3.txt"

!mv text1.txt text2.txt text3.txt demo/
!cd demo/
!ls demo/

for f in os.listdir("demo"):
  print(f)

--2019-02-27 12:45:07--  http://www.hackveda.in/text1.txt
Resolving www.hackveda.in (www.hackveda.in)... 192.185.129.82
Connecting to www.hackveda.in (www.hackveda.in)|192.185.129.82|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 142 [text/plain]
Saving to: ‘text1.txt’

text1.txt           100%[===================>]     142  --.-KB/s    in 0s

2019-02-27 12:45:07 (17.3 MB/s) - ‘text1.txt’ saved [142/142]

--2019-02-27 12:45:07--  http://www.hackveda.in/text2.txt
Resolving www.hackveda.in (www.hackveda.in)... 192.185.129.82
Connecting to www.hackveda.in (www.hackveda.in)|192.185.129.82|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 150 [text/plain]
Saving to: ‘text2.txt’

text2.txt           100%[===================>]     150  --.-KB/s    in 0s

2019-02-27 12:45:07 (24.4 MB/s) - ‘text2.txt’ saved [150/150]

--2019-02-27 12:45:08--  http://www.hackveda.in/text3.txt
Resolving www.hackveda.in (www.hackveda.in)... 192.185.129.82
Connecting to www.hackveda.in (www.hackveda.in)|192.185.129.82|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 110 [text/plain]
Saving to: ‘text3.txt’

text3.txt           100%[===================>]     110  --.-KB/s    in 0s

2019-02-27 12:45:08 (16.8 MB/s) - ‘text3.txt’ saved [110/110]

text1.txt  text2.txt  text3.txt
text1.txt
text3.txt
text2.txt

#**Day 12**
-------------


**Bag of Words**
-----------------------------

Bag of Words =  Counting the occurance of words in a document

No importance of grammer and order of words


#**Term Document Matrix**
---------------------------------

In [10]:
#Term Document Matrix

import pandas as pd
#sklearn libraries feature extraction is used to extract text tokens
from sklearn.feature_extraction.text import CountVectorizer


# Function to create a dictionary with key as file, and values as names
def CorpusFromDir(dir_path):
  result = dict(docs = [open(os.path.join(dir_path, f)).read() for f in 
  os.listdir(dir_path)], ColNames = map(lambda x: x, os.listdir(dir_path)))
  return result


docs = CorpusFromDir("demo")
docs

{'ColNames': <map at 0x7f84951a20b8>,
 'docs': ['\ufeffThe air strike on terror camps in Pakistan is a positive for the markets as it illustrates a "decisiveness" in foreign policy and increases',
  '\ufeffThe U.S. military said on Monday that a recent air strike in central Somalia killed 35 al Shabaab fighters.',
  '\ufeffAfter India carried out pre-dawn "non-military, pre-emptive air strikes" across the Line of Control on Tuesday to target the biggest camp of terror']}

In [11]:
# CountVectorizer = Convert a collection of text documents to a matrix of token counts
#CountVectorizer()

vectorizer = CountVectorizer()
doc_vec = vectorizer.fit_transform(docs.get('docs'))
doc_vec

<3x50 sparse matrix of type '<class 'numpy.int64'>'
	with 60 stored elements in Compressed Sparse Row format>

In [12]:
# Create a DataFrame
df = pd.DataFrame(doc_vec.toarray().transpose(), index=vectorizer.get_feature_names())
df

# Display the file names
df.columns = docs.get('ColNames')
df

              text1.txt  text3.txt  text2.txt
35                    0          1          0
across                0          0          1
after                 0          0          1
air                   1          1          1
al                    0          1          0
and                   1          0          0
as                    1          0          0
biggest               0          0          1
camp                  0          0          1
camps                 1          0          0
carried               0          0          1
central               0          1          0
control               0          0          1
dawn                  0          0          1
decisiveness          1          0          0
emptive               0          0          1
fighters              0          1          0
for                   1          0          0
foreign               1          0          0
illustrates           1          0          0
in                    2          1          0
increases             1          0          0
india                 0          0          1
is                    1          0          0
it                    1          0          0
killed                0          1          0
line                  0          0          1
markets               1          0          0
military              0          1          1
monday                0          1          0
non                   0          0          1
of                    0          0          2
on                    1          1          1
out                   0          0          1
pakistan              1          0          0
policy                1          0          0
positive              1          0          0
pre                   0          0          2
recent                0          1          0
said                  0          1          0
shabaab               0          1          0
somalia               0          1          0
strike                1          1          0
strikes               0          0          1
target                0          0          1
terror                1          0          1
that                  0          1          0
the                   2          1          2
to                    0          0          1
tuesday               0          0          1

In [19]:
!ls demo/

text1.txt  text2.txt  text3.txt

#Day 13:

# Term Frequency / Inverse Document Frequency (TF*IDF)
#(using Vectorizer)
Term Frequency =  (Number of times term appears in a document / Total number of terms in the document)
Document Frequency = (Number od documents containing a given term/the size of the collection of the documents)
Inverse Document Frequency (IDF) = (Total number of document)/Number of documents

In [32]:
# Term Frequency - Inverse Document Frequency (using Vectorizer)
# Term Frequency =  (Number of times term appears in a document / Total number of terms in the document)
# Document Frequency = (Number od documents containing a given term/the size of the collection of the documents)

'''The TF (term frequency) of a word is the frequency of a word (i.e. number of times it appears) in a document. When you know it, you're able to see if you're using a term too much or too little. The IDF (inverse document frequency) of a word is the measure of how significant that term is in the whole corpus

https://www.elephate.com/blog/what-is-tf-idf/

TF*IDF is used by search engines to better understand content which is undervalued. 
For example, if you’d want to search a term “Coke” on Google, this is how Google can figure out if a page titled “COKE” is about:

a) Coca-Cola.
b) Cocaine.
c) A solid, carbon-rich residue derived from the distillation of crude oil.
d) A county in Texas.

'''

# Inverse Document Frequency (IDF) = (Total number of document)/Number of documents with a given term)

# Let's say we have total # of words in a document is 100, and ML appeared only 3
# Doc = 100 (ML = 3)
#TF = 3/100 = 0.03

total_number_words = 100
number_ml_words = 70
term_freq = number_ml_words/ total_number_words
print(term_freq)

0.7

In [33]:
# Calculation of document frequency on any search
number_of_docs_containing_given_term = 6
total_number_docs = 10

#calculate the document frequency
doc_freq = number_of_docs_containing_given_term/ total_number_docs
print(doc_freq)

'''Once we get DF, now we have to normalize the document-frequency so as to have
the values represented on same scale

Now, we are going to normalize using log() function, if we get negative value, we need to
utilize the inverse of Document Frequncy (IDF) to avoid negative outcome of normalization

IDF = log(total number of documents / number of docs with given term)

TF-IDF (Term Frequency * Inverse Document Frequency) = (0-1)
The value near to 1 will be more relevant e.g., 0.8 is far relevent than 0.3'''



print(term_freq * doc_freq)

0.6
0.42

In [0]:
#!cat demo/text1.txt
#!cat demo/text2.txt

In [47]:
# Now Python solution for TF/IDF

from sklearn.feature_extraction.text import TfidfVectorizer
# read each and every documents, out of the doc it will extract all contents, then will
# calculate document frequency, IDF, and normalize
vectorizer  = TfidfVectorizer()

# call Corpus from dir function to read content from current working directory
docs = CorpusFromDir("/content/demo/")
docs

{'ColNames': <map at 0x7f849519e8d0>,
 'docs': ['\ufeffThe air strike on terror camps in Pakistan is a positive for the markets as it illustrates a "decisiveness" in foreign policy and increases',
  '\ufeffThe U.S. military said on Monday that a recent air strike in central Somalia killed 35 al Shabaab fighters.',
  '\ufeffAfter India carried out pre-dawn "non-military, pre-emptive air strikes" across the Line of Control on Tuesday to target the biggest camp of terror']}

In [56]:
# Vectorizer will learn the vocabulary and idf, return term-document matrix.
doc_term_matrix = vectorizer.fit_transform(docs.get('docs'))
#doc_term_matrix.toarray()
term_doc_matrix = doc_term_matrix.toarray().transpose()

# columns are documents and terms are rows now after transpose, and the values are IDF


# check the total number of terms
terms = vectorizer.get_feature_names()


#Lets create a dataframe
df = pd.DataFrame(term_doc_matrix, index=terms)
#df

#Lets tag the column names 

df.columns  = docs.get('ColNames')
df

              text1.txt  text3.txt  text2.txt
35             0.000000   0.269370   0.000000
across         0.000000   0.000000   0.191566
after          0.000000   0.000000   0.191566
air            0.133531   0.159094   0.113142
al             0.000000   0.269370   0.000000
and            0.226088   0.000000   0.000000
as             0.226088   0.000000   0.000000
biggest        0.000000   0.000000   0.191566
camp           0.000000   0.000000   0.191566
camps          0.226088   0.000000   0.000000
carried        0.000000   0.000000   0.191566
central        0.000000   0.269370   0.000000
control        0.000000   0.000000   0.191566
dawn           0.000000   0.000000   0.191566
decisiveness   0.226088   0.000000   0.000000
emptive        0.000000   0.000000   0.191566
fighters       0.000000   0.269370   0.000000
for            0.226088   0.000000   0.000000
foreign        0.226088   0.000000   0.000000
illustrates    0.226088   0.000000   0.000000
in             0.343892   0.204863   0.000000
increases      0.226088   0.000000   0.000000
india          0.000000   0.000000   0.191566
is             0.226088   0.000000   0.000000
it             0.226088   0.000000   0.000000
killed         0.000000   0.269370   0.000000
line           0.000000   0.000000   0.191566
markets        0.226088   0.000000   0.000000
military       0.000000   0.204863   0.145691
monday         0.000000   0.269370   0.000000
non            0.000000   0.000000   0.191566
of             0.000000   0.000000   0.383132
on             0.133531   0.159094   0.113142
out            0.000000   0.000000   0.191566
pakistan       0.226088   0.000000   0.000000
policy         0.226088   0.000000   0.000000
positive       0.226088   0.000000   0.000000
pre            0.000000   0.000000   0.383132
recent         0.000000   0.269370   0.000000
said           0.000000   0.269370   0.000000
shabaab        0.000000   0.269370   0.000000
somalia        0.000000   0.269370   0.000000
strike         0.171946   0.204863   0.000000
strikes        0.000000   0.000000   0.191566
target         0.000000   0.000000   0.191566
terror         0.171946   0.000000   0.145691
that           0.000000   0.269370   0.000000
the            0.267063   0.159094   0.226284
to             0.000000   0.000000   0.191566
tuesday        0.000000   0.000000   0.191566